body {
  font-family: Maven Pro,Helvetica,Arial,Microsoft JhengHei,sans-serif;
  background-color: #80d3e7;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px 20px;
}

h1 {
  text-align: center;
}